/* ==========================================
   APP CSS
   All global layout styles are now managed
   in Layout.css and Dashboard.css
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    min-height:100vh;
    font-family:"Segoe UI",sans-serif;
    background:#f5f7fb;
}

body{
    overflow-x:hidden;
}